# Prevent script execution in target directory
<FilesMatch "\.(php|phtml|php3|php4|php5|phar|cgi|pl)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Deny from all
  </IfModule>
</FilesMatch>

Options -Indexes
